@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Matemasie&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azulescuro: rgb(5, 6, 102);
    --azulforte: rgb(29,129,168);
    --azulclaro: #00b4d8ff;
    --azulmuitoclaro: rgb(255, 255, 255);
    --azulceu: rgb(0, 0, 0); 
    --fonte-titulo:"Matemasie", sans-serif;
    --fonte-texto:"Josefin Sans", sans-serif;
} 

body{
    background-color: var(--azulescuro);
    font-family: var(--fonte-texto);
    font-size: 16px;
}

.titulo-principal{
    font-family: var(--fonte-titulo);
}
.cabecalho{
    background-color: var(--azulforte);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.cabecalho-img{
    width: 15%;
    border-radius: 200%;
}
.cabecalho-nav_link{
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: 24px;
    color: var(--azulceu);
    margin-right: 24px;
}
.principal-capa{
    background-image: url(img/fundo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12xp;
}
.principal-capa_conteudo{
    display:flex;
    flex-direction: column;
    gap: 12px;
}
.principal-capa_titulo{
    font-family: var(--fonte-titulo);
    font-size: 32px;
    color: var(--azulforte);
    margin-bottom: 10px;
}
.principal-capa_texto{
    font-size: 20px;
    margin-top: 2px;
    color: rgb(255, 255, 255);
}
.principal-capa_img{
    border-radius: 5% 5% 5% 5%;
    width: 50%;
    margin: 40px;
}
.principal-capa__comboato{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.principal-capa__botao{
    background-color: var(--azulforte);
    color: var(--azulceu);
    border-radius: 15px;
    padding: 0.5em;
    margin-top: 1em;
    text-decoration: none;
    text-align: center;
    width: 20%;
}
.principal-capa__botao:hover{
    padding: 1.2em;
    background-color: var(--azulmuitoclaro);
    color: var(--azulceu);
    transition: 0.5s;
}
.botao__secundario{
    background-color:var(--azulforte);
    text-align: center;
    width: 50%;
    border: 5px solid var(--azulceu)
}
.propaganda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 7em;
}
.propaganda__img{
    width: 80%;
    height: 90%;
    border-radius: 1em ;
}
.propaganda__titulo{
     color:var(--azulmuitoclaro);
     font-size: 20px;
     font-family: var(--fonte-texto);
}
.propaganda__titulo:hover{
    text-shadow: 4px 4px 20px var(--azulforte);
    transition: 0.7s;
}
.propaganda__texto{
    font-size: 16px;
    font-family:var(--fonte-texto);
    color:var(--azulclaro); 
    margin-top: 1em; 
}
.propaganda_2{
    display: flex;
    flex-direction: column;
}
.propaganda__img2{
    width: 80%;
    height: 90%;
    margin-left: 4em;
    border-radius: 1em;
}
.principal-capa__botao:hover{
    width: 50%;
    height: 50%
}
.dispositivos{
    text-align: center;
}
.dispositivos__titulo{
    font-family: var(--fonte-texto);
    font-size: 48px;
    color: var(--azulmuitoclaro);
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin:24px;
}
.lista__item{
    font-size: 24px;
    color: var(--azulclaro);

}



