@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Matemasie&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azulescuro: rgb(5, 6, 102);
    --azulforte: rgb(29, 128, 167);
    --azulclaro: #00b4d8ff;
    --azulmuitoclaro: #90e0efff;
    --azulceu: #caf0f8ff; 
    --fonte-titulo:"Matemasie", sans-serif;
    --fonte-texto:"Josefin Sans", sans-serif;
} 

body{
    background-color: var(--azulescuro);
    font-family: var(--fonte-texto);
    font-size: 16px;
}

.titulo-principal{
    font-family: var(--fonte-titulo);
}
.cabecalho{
    background-color: var(--azulforte);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.cabecalho-img{
    width: 15%;
    border-radius: 200%;
}
.cabecalho-nav_link{
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: 24px;
    color: var(--azulceu);
    margin-right: 24px;
}
.principal-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12xp;
    background-repeat: no-repeat;
    margin-left: 12xp;
    padding: 24xp 12xp;
}
.principal-capa_conteudo{
    display:flex;
    flex-direction: column;
    gap: 12px;
}
.principal-capa_titulo{
    font-family: var(--fonte-titulo);
    font-size: 32px;
    color: var(--azulforte);
    margin-bottom: 10px;
}
.principal-capa_texto{
    font-size: 24px;
    margin-top: 24px;
}
.principal-capa_img{
    border-radius: 5% 5% 5% 5%;
    width: 50%;
    margin: 40px;
}
